.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4b41a;

  padding: 23px;
  overflow-x: hidden; /* For Opera */
  -webkit-box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px,
    inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
  -moz-box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px,
    inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
  box-shadow: inset #19d4ff 0 0 0 5px, inset #18cdf7 0 0 0 1px,
    inset #53dfff 0 0 0 10px, inset #50d8f7 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
}

header {
  height: 200px;
  align-items: center;
  /* background: #00154f; */
  /* background: #F4F91C */
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(to right, #00154f, #6441a5);
}

header > div {
  margin-top: 0px;
  font-size: 5rem;
  text-align: center;
  height: 90vh;
  line-height: 86vh;
  color: #fcedd8;
  /* background: #d52e3f; */
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #00154f,
    35px 35px 0px #00154f, 40px 40px 0px #00154f, 45px 45px 0px #00154f;
}

.memetextInput > input {
  margin-top: 40px;
  margin-right: 10px;
  width: 35%;
  height: 30px;
  border-radius: 25px;
  border-color: white;
  /* font-family: Niconne; */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.imageArea {
  position: relative;
  margin: auto;
  width: 500px;
}

img {
  box-sizing: border-box;
  width: 500px;
  height: auto;
  margin-bottom: 15px;
}


.imageArea h2 {
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  text-transform: uppercase;
  font-size: 35px;
  font-family: impact, sans-serif;
  text-align: center;
  width: 50%;
  margin: 15px 0;
  letter-spacing: 1px;
}

#topText {
  color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
#bottomText {
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}

button,
.custom-file-upload {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 2.5em;
  width: 10em;

  border-radius: 1em;

  font-size: 14px;
  font-weight: bold;
  color: #333;

  /* padding defines the width of the red gradient background (2) */
  padding: 0.25em;

  /* border-width defines the width the blue gradient background (3) */
  border: 0.25em solid transparent;

  background: 
    /* (1) most inner gradient */ linear-gradient(
        to bottom,
        #fff,
        #bbb
      )
      content-box,
    /* (2) red gradient */ linear-gradient(to right, #e94332, #a91302)
      padding-box,
    /* (3) blue gradient */ linear-gradient(to right, #0867a6, #4aa9e8)
      border-box;
}

.buttonsArea {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  /* margin */
}

input[type="file"] {
  display: none;
}

/* the label */
.custom-file-upload {
  height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* the file input */
/* .fileInput{ */
/* text-align: center; */
/* margin: auto; */
/* position: absolute; */
/* top: 50%; */
/* } */

.memeInput {
  border-radius: 15px;
  border: 1px solid grey;
  padding-left: 8px;
}

.memeInput:focus {
  outline: none;
  box-shadow: 0px 0px 20px #0066ff;
}
